<!-- Featured Area
================================================== -->
<div id="featured" class="feature-area hidden">
    <div id="featured-content">
    </div> <!-- #featured-content -->
</div> <!-- /#featured -->