{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show Post in single page }}
{{#post}}
    <!-- Main Content
    ================================================== -->
    <div id="content" class="site-content about-me">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-title">
                        <h2 class="section-title"><span>{{title}}</span></h2>
                    </div> <!-- /.header-title --> 
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <!-- Author Image -->
                    <div class="author-cover" style="background:url({{image}})">                        
                        <figure class="author-image"></figure> <!-- /.author-image -->
                    </div>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- Author Details -->
                    <div class="about-details">
                        <div class="author-details">
                            <h4 class="author-name section-name"><span>I am Mrs. Zonathan Doe Rakibs Smith</span></h4> <!-- /.author-name -->
                            <div class="entry-content">
                                <div class="row">
                                    {{content}}
                                </div>
                            </div> <!-- /.entry-content -->

                            <div class="clear"></div>

                            <footer class="entry-footer">
                               <div class="follow-link">
                                    <span>Follow me : </span>    
                               </div> <!-- /.follow-link -->

                               <div class="author-sign"></div>
                            </footer> <!-- /.entry-footer --> 
                        </div> <!-- /.author-details -->
                    </div> <!-- /.about-details -->

                    <div id="author-skill">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="section-name"><span>My Simple Skill Below</span></h4> <!-- /.author-name -->
                            </div> <!-- /.col-md-12 -->
                        </div> <!-- /.row --> 

                        <div class="row author-skills-items">  
                        </div> <!-- /.row -->   
                    </div> <!-- /#author-skill -->
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        
    </div><!-- #content -->
{{/post}}   
