<aside class="widget widget_text clearfix ghost_ads_widget hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span class="ghost_ads_widget_title">Add Unit</span></h5>\
    </div>\
    <div class="textwidget widget-content ads_widget_image"></div>\
</aside>