<aside class="widget ghost_facebook_widget clearfix hidden">\
    <div class="widget-title-area"> <span class="widget-title-inner"></span>\
        <h5 class="widget-title"><span class="ghost_facebook_widget_title"> Facebook</span></h5>\
    </div>\
    <div class="widget-content facebook-widget"></div>\
</aside>