<div class="widget widget_flicker clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Flicker Images</span></h5>\
    </div>\
    <div class="about-contact-area">\
        <ul id="flickr" class="flickr ramble_flickr widget-content"></ul>\
    </div>\
</div>