<aside class="widget ghost_googleplus_widget clearfix hidden">\
    <div class="widget-title-area"> <span class="widget-title-inner"></span>\
        <h5 class="widget-title"><span class="ghost_googleplus_widget_title"> Google Plus</span></h5>\
    </div>\
    <div class="widget-content google-plus-widget"> </div>\
</aside>