<aside class="widget ramble_popular_post_widget clearfix">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span>Popular Posts</span></h5>\
    </div>\
    <div class="widget-feed widget-content">\
        <ul class="latest-widget"></ul>\
    </div>\
</aside>