<div class="widget widget_subscribe clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span class="widget_subscribe_title">Newsletter</span></h5> </div>\
    <div class="newsletter-area">\
        <div id="mail-description"></div>\
        <div class="form-newsletter">\
            <form id="newsletter-form" name="newsletter-form" method="post">\
                <div class="form-newsletter">\
                    <div class="row">\
                        <div class="col-md-6 pad-right">\
                            <p>\
                                <input type="text" value="" placeholder="First Name" name="FNAME" class="form-controller" required="required"> </p>\
                        </div>\
                        <div class="col-md-6 pad-left">\
                            <p>\
                                <input type="text" value="" placeholder="Last Name" name="LNAME" class="form-controller" required="required"> </p>\
                        </div>\
                        <div class="col-md-12">\
                            <p>\
                                <input type="email" value="" placeholder="Email*" name="EMAIL" class="form-controller email" required="required"> </p>\
                        </div>\
                        <div class="col-md-12 text-center">\
                            <button id="mc-embedded-subscribe" type="submit" class="btn btn-default mail-submite" value="Subscribe">Subscribe</button>\
                        </div>\
                    </div>\
                </div>\
            </form>\
        </div>\
    </div>\
</div>