<aside class="widget widget_follow_us hidden">\
    <div class="widget-title-area"> <span class="widget-title-inner"></span>\
        <h5 class="widget-title"><span class="widget_follow_us_title">Follow Us</span></h5>\
        <div class="hr-line"></div>\
    </div>\
    <div class="widget_social follow-us-area"> </div>\
</aside>