<aside class="widget widget_tag_cloud clearfix hidden">\
    <div class="widget-title-area">\
        <h5 class="widget-title"><span class="ramble_tags_widget_title">Tag Cloud</span></h5>\
        <div class="hr-line"></div>\
    </div>\
    <div class="tagcloud"></div>\
</aside>