<aside class="widget ghost_twitter_widget clearfix hidden">\
    <div class="widget-title-area"> <span class="widget-title-inner"></span>\
        <h5 class="widget-title"><span class="ghost_twitter_widget_title"> Twitter</span></h5>\
    </div>\
    <div class="widget-content twitter_profile"> </div>\
</aside>